<h2 class="title-text" mat-dialog-title>Juego {{data.inmovilizado}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Datos Generales</ng-template>
      <mat-card>
        <mat-card-content>

          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>Consecutivo</mat-label>
                <input matInput placeholder="Consecutivo" [(ngModel)]="consecutivo" (ngModelChange)="consecutivo" disabled="true">
                <!--<input matInput [(ngModel)]="data.animal">-->
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-label>Denominación</mat-label>
                <input matInput placeholder="Denominación" [(ngModel)]="this.juego.denominacion">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Tipo</mat-label>
                <mat-select [(ngModel)]="tipoJuego" (ngModelChange)="tipoJuego">
                  <mat-option>--</mat-option>
                  @for (tipo of tipos; track tipo) {
                    <mat-option [value]="tipo._id">{{ tipo.descripcion }}</mat-option>
                  }
                </mat-select>
              <!--
                @if (this.juegoForm.controls['tipoControl'].hasError('required')) {
                  <mat-error>Por favor seleccione un tipo</mat-error>
                }
              -->
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Punto de Venta</mat-label>
                <mat-select [(ngModel)]="puntoVentaJuego" (ngModelChange)="puntoVentaJuego">
                  <mat-option>--</mat-option>
                  @for (puntoVenta of puntosVenta; track puntoVenta) {
                    <mat-option [value]="puntoVenta._id">{{ puntoVenta.descripcion }}</mat-option>
                  }
                </mat-select>
                <!--
                @if (this.juegoForm.controls['puntoVentaControl'].hasError('required')) {
                  <mat-error>Por favor seleccione un punto de venta</mat-error>
                }
                  -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field color="accent">
                <mat-label>Fecha alta</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaAlta">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Crédito inicial</mat-label>
                <input matInput placeholder="Crédito inicial" [(ngModel)]="this.juego.creditoInicial">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <div class="row">
                <mat-form-field>
                  <mat-label>No. Serie</mat-label>
                  <input matInput placeholder="No. Serie" [(ngModel)]="this.juego.numeroSerie">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Token</mat-label>
                  <mat-select [(ngModel)]="this.juego.token" required>
                    <mat-option>--</mat-option>
                    @for (token of tokens; track token) {
                      <mat-option [value]="token.numero">{{ token.numero }}</mat-option>
                    }
                  </mat-select>
                  <!--
                  @if (this.juegoForm.controls['tokenControl'].hasError('required')) {
                    <mat-error>Por favor seleccione un token</mat-error>
                  }
                    -->
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Estado</mat-label>
                  <mat-select [(ngModel)]="estadoJuego" (ngModelChange)="estadoJuego" required>
                    <mat-option>--</mat-option>
                    @for (estado of estados; track estado) {
                      <mat-option [value]="estado._id">{{ estado.estatus }}</mat-option>
                    }
                  </mat-select>
                  <!--
                  @if (this.juegoForm.controls['estadoControl'].hasError('required')) {
                    <mat-error>Por favor seleccione un estado</mat-error>
                  }
                    -->
                </mat-form-field>
              </div>

              <div class="row">
                <input type="file" class="file-input"
                  accept=".pdf"
                  (change)="onFileSelected($event)" #fileUpload>

                <div class="row file-upload" >
                  <div class="col-9 child" >
                    {{fileName || "Seleccione un documento."}}
                  </div>
                  <div class="col-2" >
                    <button mat-mini-fab color="primary" class="upload-btn"
                      (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                  </div>
                  <div class="col-1">
                    <button mat-mini-fab color="primary" aria-label="Adjutar documento" (click)="downloadFile()" [disabled]="isDownload">
                      <mat-icon>file_download</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-7">
              <div class="row">
                <div class="col-6" >
                  <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-subtitle>Codigo QR</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="imgCard">
                        <qr-code value="{{linkQr}}" 
                                centerImageSrc="../../../assets/img/kidson-pay-mini.jpg" 
                                centerImageSize="40"
                                size="180" 
                                errorCorrectionLevel="Q" />
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-6" >
                  <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-subtitle>Imagen del juego</mat-card-subtitle>
                    </mat-card-header>
                    <div class="imgCard" style="height: 148px;">
                      <img class="imagenCard" mat-card-image [src]="this.imgUrl" alt="Juego">
                    </div>
                    <mat-card-content>
                      <div class="d-flex justify-content-center row">
                        <input
                          hidden
                          type="file"
                          accept=".jpg, .jpeg, .png"
                          #fileInput
                          (change)="fileChanged($event)"
                        />
                        <button mat-mini-fab color="primary" aria-label="Adjutar documento" (click)="fileInput.click()">
                          <mat-icon>attach_file</mat-icon>
                        </button>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <mat-form-field class="full-width-textarea">
              <mat-label>Descripción</mat-label>
              <textarea matInput placeholder="Descripción" [(ngModel)]="this.juego.descripcionGenerales"></textarea>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>Datos de Compra</ng-template>
      <mat-card>
        <mat-card-content>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Proveedor</mat-label>
                <input matInput placeholder="Proveedor" [(ngModel)]="this.juego.proveedor">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>País Origen</mat-label>
                <input matInput placeholder="País Origen" [(ngModel)]="this.juego.paisOrigen">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Subtotal</mat-label>
                <input matInput placeholder="Subtotal" [(ngModel)]="this.juego.subtotal">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Envió</mat-label>
                <input matInput placeholder="Envió" [(ngModel)]="this.juego.envio">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field color="accent">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="fecha">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Total</mat-label>
                <input matInput placeholder="Total" [(ngModel)]="this.juego.total">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <mat-form-field class="full-width-textarea">
              <mat-label>Obervaciones</mat-label>
              <textarea matInput placeholder="Obervaciones" [(ngModel)]="this.juego.observacion"></textarea>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>Datos Contables</ng-template>
      <mat-card>
        <mat-card-content>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Inmovilizado</mat-label>
                <input matInput placeholder="Inmovilizado" [(ngModel)]="this.juego.inmovilizado" disabled="true">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Creditos Acumulados</mat-label>
                <input matInput placeholder="Creditos Acumolados">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Centro de Costo</mat-label>
                <mat-select [(ngModel)]="this.juego.centroCosto" (ngModelChange)="this.juego.centroCosto" required  (selectionChange)="selectCentroCo($event.value)">
                  <mat-option>--</mat-option>
                  @for (centroCosto of centrosCosto; track centroCosto) {
                    <mat-option [value]="centroCosto._id">{{ centroCosto.centroCosto }}</mat-option>
                  }
                </mat-select>
                <!--
                @if (this.juegoForm.controls['centroCostoControl'].hasError('required')) {
                  <mat-error>Por favor seleccione un centro de costo</mat-error>
                }
                  -->
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Comisión (%)</mat-label>
                <input matInput placeholder="Comisión (%)" [(ngModel)]="this.juego.comision">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Centro Beneficio</mat-label>
                <input matInput placeholder="Centro Beneficio" [(ngModel)]="centroBeneficio" (ngModelChange)="centroBeneficio">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Valor adquisición</mat-label>
                <input matInput placeholder="Valor adquisición" [(ngModel)]="this.juego.valorAdquisicion">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Vida Útil</mat-label>
                <input matInput placeholder="Vida Útil en Meses" [(ngModel)]="this.juego.vidaUtil">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Depreciación</mat-label>
                <input matInput placeholder="Depreciación" [(ngModel)]="this.juego.depreciacion">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <mat-form-field>
              <mat-label>Valor Contable</mat-label>
              <input matInput placeholder="Valor Contable" [(ngModel)]="this.juego.valorContable">
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Ubicación</ng-template>
      <mat-card>
        <mat-card-content>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Código Postal</mat-label>
                <input matInput placeholder="Código Postal" 
                  (keypress)="searchFields($event)"
                  [(ngModel)]="cPostal">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Estado</mat-label>
                <input matInput placeholder="Estado" [(ngModel)]="estado">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" [(ngModel)]="cEstado">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Descripción</mat-label>
                <mat-select [(ngModel)]="this.juego.codigoPostal" (ngModelChange)="this.juego.codigoPostal" required>
                  <mat-option>--</mat-option>
                  @for (codigoPostal of codigosPostal; track codigoPostal) {
                    <mat-option [value]="codigoPostal._id">{{ codigoPostal.d_asenta }}</mat-option>
                  }
                </mat-select>
                <!--
                @if (this.juegoForm.controls['asentaControl'].hasError('required')) {
                  <mat-error>Por favor seleccione un asentamiento</mat-error>
                }
                  -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Asentamiento</mat-label>
                <mat-select required [(ngModel)]="tipoAsenta" (ngModelChange)="tipoAsenta">
                  <mat-option>--</mat-option>
                  @for (tipoAsenta of dTipoAsenta; track tipoAsenta) {
                    <mat-option [value]="tipoAsenta">{{ tipoAsenta }}</mat-option>
                  }
                </mat-select>
                <!--
                @if (this.juegoForm.controls['d_asentaControl'].hasError('required')) {
                  <mat-error>Por favor seleccione un tipo asentamiento</mat-error>
                }
                  -->
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ciudad" [(ngModel)]="ciudad">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Municipio</mat-label>
                <input matInput placeholder="Municipio" [(ngModel)]="municipio">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>No. Exterior</mat-label>
                <input matInput placeholder="No. Exterior" [(ngModel)]="this.juego.noExterior">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>No. Interior</mat-label>
                <input matInput placeholder="No. Interior" [(ngModel)]="this.juego.noInterior">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Referencias</mat-label>
                <input matInput placeholder="Referencias" [(ngModel)]="this.juego.referencia">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <mat-form-field class="full-width-textarea">
              <mat-label>Comentarios</mat-label>
              <textarea matInput placeholder="Comentarios" [(ngModel)]="this.juego.comentarios"></textarea>
            </mat-form-field>
          </div>
          
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="button-dialog">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="save()">Guardar</button>
  </div>
</mat-dialog-actions>